<hr class="scrivito-space-widget space-widget <%= widget.space_size %>" style="height: <%= widget.space_free_size %>">
<% if scrivito_in_editable_view? && widget.size == 'free' %>
  <%= scrivito_tag :div, widget, :free_size, class: 'hidden' %>
  <div class="scrivito-space-widget-handle"></div>
<% end %>