<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-hr"></span>
  </div>

  <div class="title">
    Space
  </div>

  <div class="description">
    Creates a space between two widgets.
  </div>
</div>
